/*=========================== Header Style 1 ==============================*/
.th_header_before_overlay{
	.th_header_1_left{
		display: flex;
		align-items: center;
		&>div{
			display: inline-block;
		}
	}
	.th_header_1_center{
		@include flex_center;
	}
	.th_header_1_right{
		@include flex_right;
		>div{
			display:inline-block;
			padding: 0 15px;
			@include media-breakpoint-down(sm){
				padding: 0 6px;
			}
		}	
	}
	.th_header_pricelist{
		.te_currency_name, .te_currency_symbol{
			font-size: 14px;
			padding: 0 4px;
			border:0 !important ;
			&:hover{
				color: $primary !important;
			}
		}
	}
	.th_header_language{
		margin-left: 5px;
		a.dropdown-toggle{
			font-size: 14px;
			text-transform: capitalize;
			border:0 !important ;
			padding: 0 4px;
			&:hover{
				color:$primary;
			}
		}
	}
	.th_user_account,.th_signin{
		&:hover{
			color: $primary;
		}
	}
	.th_header_search{
		order: -1;
		.th_header_srch_icon{
			font-size: 1rem;
		}
		.th_search_popover {
			opacity: 0;
			outline:0;
			width:100%;
			display: none;
		}
		&.active{
			position: absolute;
			width: 93%;
			background: white;
			z-index: 1;
			padding: 5px;
			@include flex_center;
			.th_header_srch_icon{
				display: none;
			}
			.th_search_popover{
				opacity:1;
				width: 100%;
				z-index: 999;
				display: block;
			}
		}
	}
	@include media-breakpoint-down(sm){
		.th_header_1_left{display: none;}
		.th_header_1_right{
			justify-content: space-between;
			margin-top: 20px;
		}
	}	
	@include media-breakpoint-down(xs){
		.th_user_account_name{
			display:none;
		}	
	}
}
header{
	nav.navbar{
		padding-bottom: 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		min-height: 57px;
		padding: 0;
		#top_menu{
			margin:0px auto;
			&>li > a.nav-link{ 
				text-transform: uppercase;
				border-top: 2px solid transparent;
				font-weight: 600;
				position: relative;
				padding-top:1rem;
				padding-bottom: 1rem;
			}
			&>li > a.nav-link.active{
				border-top: 2px solid $primary;
			} 
		}
	}
}
