
.list_view {
    padding: 0 5px;
    .o_wsale_products_grid_table_wrapper {
        margin: 0;
        padding: 0 10px;
    }
    .oe_product_cart {
        flex-flow: row nowrap;
        padding: 0px ;
        margin-bottom: 10px;
        form{
            padding: 0;
        }
        .oe_product_image {
            flex: 0 0 auto;
            max-width: 35%;
            min-width: 100px;
            height: auto !important;
            img{
                height: 125px;
                width: 125px;
                object-fit: contain;
            }
            
        }
        .o_wsale_product_information {
            position: static;
            display: flex;
            flex: 1 1 auto;
            text-align: left !important;
            padding:  10px 20px !important;
            flex-direction: column;
            .o_wsale_products_item_title{
                font-size: 0.9375rem;
                font-weight: normal !important;
                color: #575757;
                @include text_ellipsis;
                font-weight: normal;
            }
            .product_price{
                color: #212529;
                font-size: 0.9375rem;
                del{
                    color: #969696 !important;
                    display: inline-block;
                }
            }
            .oe_subdescription {
                color: #777;
                height: auto;
                max-height: 36px;
                padding-bottom: 5px;
                transform: none;
                margin-bottom: 0;
                position: relative;
                &::before{
                    content: " ";
                    position: absolute;
                    height: 14px;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(180deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 100%);
                    transition: all .3s ease;
                }
            }
            .o_wsale_product_btn{
                position: static;
                padding-bottom: 0;
                .btn-secondary {
                    height: 2.75rem;
                    width: 2.75rem;
                    padding: 0;
                    line-height: 2.75rem;
                    font-size: 0.875rem;
                    background: white;
                    color: #000000;
                    border: 1px solid #cccccc;
                    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
                    border-radius: 50%;
                    transform: unset;
                    transition-property: all;
                    transition-timing-function: ease;
                    z-index: 2;
                    span.text{display: none;}
                    &:hover,&:focus,&.active{
                        background-color: rgba($primary,1) !important;
                        color: white;
                        border-color: $primary;
                    }
                    &:disabled{
                        pointer-events: none;
                        z-index: 1;
                    }
                    &.o_add_wishlist:disabled{
                        color: red;
                    }
                }
            }
        }
    }
    &:hover {
        .o_wsale_product_information {
            background-color: $white !important;
            .oe_subdescription {
                max-height: 54px;
                &::before{
                    height: 0;
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        .oe_product_cart {
            height: auto !important;
            .oe_product_image {
                flex: 0 0 auto;
                max-width: 20%;
                min-width: 70px;
            }
            .shop_css_quantity{display: none !important;}
            .o_wsale_product_information {
                .o_wsale_product_btn{
                    
                }
            }
        }
    }
}
