#footer_main{
    .footer_map{
        background-color: #eeeeee;
        .js_language_selector{
            .dropdown-toggle{
                background-color: #aaaaaa !important;
                border: 0;
                border-radius: 0;
            }
        }
    }
    .static_menu_1,
    .static_menu_2,
    .static_menu_3{
        ul>li{
            padding: 5px 0 5px 15px;
            &>a{
                color: #333333;
                &:hover{
                    color: $primary;
                }
            }
        }
        .p_tag{
            padding: 5px 0 5px 15px;
        }
    }
    .f_address{
        .th_company_detail{
            display: flex;
            padding:  5px 0;
            p{
                margin: 0;
            }
            .icon{
                margin-right: 15px;
            }
        }
        ul>li{
            padding: 5px 0;
        }
        .share_icons{
            margin-left: -5px;
            a.btn-link{
                padding: 5px;
                width: 30px;
                height: 30px;
                background: rgba(0, 0, 0, 0.2);
                border-radius: 20px;
            }
            .fa{
                font-size: 16px !important;
            }
        }
        p{
            margin: 0;
        }
    }
    #footer_copyright{
        padding: 10px;
        .c_name{
            @include flex_between;
        }
        @include media-breakpoint-down(md){
            flex-direction: column;
        }
    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
}
#footer_map_div{
    iframe{
        border:0;
        max-width: 100%;
    }
}








#footer{
    .payment_methods{
        .h_tag{
            margin-bottom: 10px;
        }
        .payment_icon_list{
            margin: 0;
            img{
                max-width: 30px;
                margin: 4px 0;
            }
        }
    }
}
